body{
    background-image: url(https://i.pinimg.com/564x/e3/20/48/e32048efaf55ef49840b27d997b785e9.jpg);
}

*{
margin: 0px;
padding: 0px;
}

div#general{
    margin: auto;
    width: 960px;
    height: 990px;
   background-color: rgba(241, 199, 163, 0.315);
    margin-top: 50px;
}

div#derecha{
    float: right;
    width: 300px;
    height: 500px;
    background-color: rgb(241, 200, 163);
}

div#titulo{
    width: 640px;
    height: 70px;
    background-color: rgb(129, 30, 21);
    padding: 5px 0px;
}

div#body{
    margin-top: 20px;
    width: 640px;
    height: 840px;
    background-color: whitesmoke;

}

h1{
    font-family: initial;
    font-size: 60px;
    text-align: center;
    color: white;
    
}

div#contenedor{
    margin: 20px;
    text-align: justify;
}

.subrayado{
    background-color: rgb(185, 79, 40);
    color: white;
    text-align: center;
}

p#parrafo{
    margin: 20px;
}

h3{
    text-align: center;
    font-family: lucida ;
    font-size: 20px;
}

img{
    margin: 20px;
    text-align: center;
}

.conte{
    margin: auto;
   width: 620px;
   height: 560px;
   margin-top: 20px;
   text-align: center;
}

table#tabla{
    text-align: center;
    margin: 20px;
    width: 590px;
    
}

td#parrafos{
font-size: 20px;
width: 300px;
margin: 20px;
}


footer{
    background-color: rgb(229, 219, 160);
    padding: 40px 30px;
    text-align: center;
    font-size: 20px;
}
